In [4]:
import pandas as pd
import numpy as np
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
df=pd.read_csv(r"C:\Users\GIS\Downloads\healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
df.shape

(5110, 12)

In [9]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [12]:
df[['stroke']].value_counts()

stroke
0         4861
1          249
dtype: int64

1--> stroke
0--> no stroke

In [13]:
df.groupby('stroke').mean()

C:\Users\GIS\AppData\Local\Temp\ipykernel_10640\2665589455.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('stroke').mean()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
stroke,,,,,,
0,36487.236371,41.971545,0.088871,0.047110,104.795513,28.823064
1,37115.068273,67.728193,0.265060,0.188755,132.544739,30.471292

In [31]:


# Assuming 'df' is your DataFrame containing the dataset

# Handle missing values
df['bmi'].fillna(df['bmi'].mean(), inplace=True)

# Perform one-hot encoding for categorical columns
df = pd.get_dummies(df, columns=['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status'], drop_first=True)

# Split the data into training and testing sets
X = df.drop('stroke', axis=1)  # Replace 'target_variable' with your actual target variable name
Y = df['stroke']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=1)

# Create and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [32]:
print(X)
print(Y)

         id   age  hypertension  heart_disease  avg_glucose_level        bmi  \
0      9046  67.0             0              1             228.69  36.600000
1     51676  61.0             0              0             202.21  28.893237
2     31112  80.0             0              1             105.92  32.500000
3     60182  49.0             0              0             171.23  34.400000
4      1665  79.0             1              0             174.12  24.000000
...     ...   ...           ...            ...                ...        ...
5105  18234  80.0             1              0              83.75  28.893237
5106  44873  81.0             0              0             125.20  40.000000
5107  19723  35.0             0              0              82.99  30.600000
5108  37544  51.0             0              0             166.29  25.600000
5109  44679  44.0             0              0              85.28  26.200000

      gender_Male  gender_Other  ever_married_Yes  work_type_Never_worked  \
0               1             0                 1                       0
1               0             0                 1                       0
2               1             0                 1                       0
3               0             0                 1                       0
4               0             0                 1                       0
...           ...           ...               ...                     ...
5105            0             0                 1                       0
5106            0             0                 1                       0
5107            0             0                 1                       0
5108            1             0                 1                       0
5109            0             0                 1                       0

      work_type_Private  work_type_Self-employed  work_type_children  \
0                     1                        0                   0
1                     0                        1                   0
2                     1                        0                   0
3                     1                        0                   0
4                     0                        1                   0
...                 ...                      ...                 ...
5105                  1                        0                   0
5106                  0                        1                   0
5107                  0                        1                   0
5108                  1                        0                   0
5109                  0                        0                   0

      Residence_type_Urban  smoking_status_formerly smoked  \
0                        1                               1
1                        0                               0
2                        0                               0
3                        1                               0
4                        0                               0
...                    ...                             ...
5105                     1                               0
5106                     1                               0
5107                     0                               0
5108                     0                               1
5109                     1                               0

      smoking_status_never smoked  smoking_status_smokes
0                               0                      0
1                               1                      0
2                               1                      0
3                               0                      1
4                               1                      0
...                           ...                    ...
5105                            1                      0
5106                            1                      0
5107                            1                      0
5108                            0                      0
5109                            0                      0

[5110 rows x 17 columns]
0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [33]:
X_train_predection=model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_predection, Y_train)

In [34]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9502065666449228

In [35]:
X_test_predection=model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_predection, Y_test)

In [36]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.9510763209393346

In [37]:
input_data=(9046,1,67,0,1,1,1,0,228.69,36.6,1)
input_data_as_numpy_array = np.asarray(input_data)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]=='1'):
    print('the patient has a stroke')
else:
    print('the patient does not have a stroke')

C:\Users\GIS\anaconda3\Nouveau dossier\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

ValueError: X has 11 features, but LogisticRegression is expecting 17 features as input.

In [51]:
import numpy as np

# Assuming you have already loaded and trained the model (model = LogisticRegression()).

# Define the input data as a list
input_data = [ 159, 117.0 ,0 ,1 ,24582.69 ,42611.600000,0,0,1,0,1,1,1,0,1,0,4]

# Convert the input data to a NumPy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# Make predictions
prediction = model.predict(input_data_reshaped)

if prediction[0] == 1:
    print('The patient has a stroke.')
else:
    print('The patient does not have a stroke.')

The patient does not have a stroke.

C:\Users\GIS\anaconda3\Nouveau dossier\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(